{% use 'form_div_layout.html.twig' %}

{%- block form_row -%}
<div class="field label border {{errors is empty? '' : 'invalid'}}">
  {{- form_widget(form) -}}
  {{- form_label(form) -}}
  {% if not (errors is empty) %}
  {{- form_errors(form) -}}
  {% else %}
  {{- form_help(form) -}}
  {% endif %}
</div>
{%- endblock form_row -%}

{%- block form_errors -%}
{% set err = errors|first %}
{%- if err -%}
<span class="error">{{ err.message }}</span>
{%- endif -%}
{%- endblock form_errors -%}

{% block form_help -%}
{%- if help is not empty -%}
<span class="helper">{{- block('form_help_content') -}}</span>
{%- endif -%}
{%- endblock form_help %}
