{{ form_start(form) }}
<div class="field label border">
    {{ form_widget(form.standId) }}
    <label>Stand</label>
</div>
<div class="field label border">
    {{ form_widget(form.name) }}
    <label>Nombre del producto</label>
</div>
<div class="field label border">
    {{ form_widget(form.info) }}
    <label>Información del producto</label>
</div>
<div class="field label border">
    {{ form_widget(form.image) }}
    <label>Foto del producto</label>
</div>
<div class="field label border">
    {{ form_widget(form.price) }}
    <label>Precio</label>
</div>
{{ form_widget(form.submit) }}
{{ form_end(form) }}
