{% form_theme form 'form/beer_theme.html.twig' %}
{{ form_start(form, { attr: { id: 'stand_form' } }) }}
<div class="grid" style="display: flex; justify-content: center; align-items: center;">
  <div class="s4">
    {{ form_row(form.sellerId) }}
    {{ form_row(form.tag) }}
    {{ form_row(form.standName) }}
    {{ form_row(form.info) }}
    {{ form_row(form.city) }}
    <div class="row" style="justify-content: center;">
      {{ form_widget(form.submit) }}
      <a class="button app-back fill" style="margin-left: 10px;">{{ 'action.back'|trans }}</a>
    </div>
  </div>
</div>
{{ form_end(form) }}
