{{ form_start(form) }}
{{ form_errors(form) }}

<img class="circle extra" src="/beer-and-woman.jpg">

<div class="field label border">
    {{ form_widget(form.name) }}
    <label>Nombre</label>
</div>
<div class="field label border">
    {{ form_widget(form.lastName) }}
    <label>Apellido</label>
</div>
<div class="field label border">
    {{ form_widget(form.phone) }}
    <label>Telefono</label>
</div>
<div class="field label border">
    {{ form_widget(form.email) }}
    <label>Correo</label>
</div>
<div class="field label border">
    {{ form_widget(form.password) }}
    <label>Contraseña</label>
</div>

{{ form_widget(form.submit, { label: 'Enviar' }) }}
{{ form_end(form) }}
