{% form_theme form 'form/beer_theme.html.twig'  %}
{{ form_start(form, { attr: { id: 'user_form' }}) }}
{% set avatar = form.vars.value.avatar is empty? 'user-default.svg' : form.vars.value.avatar.getPathname() %} 
<div class="grid" style="display: flex; align-items: center; justify-content: center;"> {# Use Flexbox to center content #}
  <div class="s3">
    <a class="button transparent circle big">
      <img class="big small-elevate responsive" id="avatar_preview" src="/{{ avatar }}">
      {{ form_widget(form.avatar, { attr: { accept: 'image/png,image/jpeg,image/gif' } }) }}
    </a>
  </div>
  <div class="s4">
    {{ form_row(form.name) }}
    {{ form_row(form.lastName) }}
    {{ form_row(form.phone) }}
    {{ form_row(form.email) }}
    <div class="medium-divider"></div>
    {% if new == false %}
      <span>Campo opcional</span>
    {% endif %}
    {{ form_row(form.password) }}
    <div class="row">
      {{ form_widget(form.submit) }}
      <a class="button app-back fill">{{ 'action.back'|trans }}</a>
    </div>
  </div>
</div>
{% if not form_errors(form.avatar) is empty %}
  <div class="snackbar error top active">{{ form_errors(form.avatar) }}</div>
{% endif %}
{{ form_end(form) }}
<script defer type="module">
  import { setup_preview } from '/assets/image_preview.js';
  import { setup_passwcheck } from '/assets/password_checker.js';
  const IMAGE_ELEMENT = document.getElementById('avatar_preview');
  const INPUT_ELEMENT = document.getElementById('user_form_avatar');
  const FORM_ELEMENT = document.getElementById('user_form');

  setup_preview(INPUT_ELEMENT, IMAGE_ELEMENT);
  setup_passwcheck(FORM_ELEMENT);
</script>
