{% extends 'base.html.twig' %}

{% block body %}
<main class="responsive" style="display: flex; flex-direction: column; align-items: left;">
  <h2 class="my-mid">{{ stand.getName() }}</h2>
  <div class="row">
    <b>{{ 'input.tag'|trans([], 'form') }}:</b>
    <div class="max">{{ stand.tag }}</div>
  </div>
  <div class="medium-divider"></div>
  <div class="row">
    <b>{{ 'input.owner'|trans([], 'form') }}:</b>
    <div class="max">{{ seller }}</div>
  </div>
  <div class="medium-divider"></div>
  <div class="row">
    <b>{{ 'input.info'|trans([], 'form') }}:</b>
    <div class="max">{{ stand.info }}</div>
  </div>
  <div class="medium-divider"></div>
  <div class="row">
    <b>{{ 'input.city'|trans([], 'form') }}:</b>
    <div class="max">{{ city.getName() }}</div>
  </div>
  <div class="medium-divider"></div>
  <a class="button app-back fill">{{ 'action.back'|trans }}</a>

  <h4 class="my-mid">{{ 'Products' }}</h4>
  <a class="button" href="/stand/{{ stand.id }}/newproduct">
    <i>{{ 'add' }}</i>
    <span>{{ 'action.new'|trans }}</span>
  </a>
  {% if products %}
  <table class="border" style="margin-top: 10px;">
    <thead>
      <tr>
        <th>{{ 'input.image'|trans([], 'form') }}</th>
        <th>{{ 'input.name'|trans([], 'form') }}</th>
        <th>{{ 'input.price'|trans([], 'form') }}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for p in products %}
      {% set rowClass = loop.index is even ? 'even' : 'odd' %}
      <tr class="{{ rowClass }}">
        <td></td>
        <td>{{ p.name }}</td>
        <td>${{ p.price }}</td>
        <td>
          <nav class="right-align">
            <a href="/stand/{{ stand.id }}/product/{{ p.id }}" class="button info circle medium"><i>{{ 'visibility' }}</i></a>
            <a href="/stand/{{ stand.id }}/product/{{ p.id }}/edit" class="button warning circle medium"><i>{{ 'edit' }}</i></a>
            <a href="/stand/{{ stand.id }}/product/{{ p.id }}/delete" class="button danger circle medium"><i>{{ 'delete' }}</i></a>
          </nav>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <article class="border medium no-padding middle-align center-align" style="margin-top: 10px;">
    <div class="padding">
      <h5>{{ 'table.empty'|trans }}<h5>
    </div>
  </article>
  {% endif %}
</main>
{% endblock %}
