{% extends 'base.html.twig' %}
{% set avatar = stand.getImageUri() is empty ? 'restaurant.svg' : stand.getImageUri() %}
{% block body %}
<main class="responsive">
  <div class="grid">
  <div class="s12 flex justify-center align-center">
    <img class="big circle center" src="/{{ avatar }}" />
  </div>
    <div class="s8">
      <h2 class="my-mid">{{ stand.getName() }}</h2>
      <div class="row">
        <b>{{ 'input.tag'|trans([], 'form') }}:</b>
        <div class="max">{{ stand.tag }}</div>
      </div>
      <div class="medium-divider"></div>
      <div class="row">
        <b>{{ 'input.owner'|trans([], 'form') }}:</b>
        <div class="max">{{ seller }}</div>
      </div>
      <div class="medium-divider"></div>
      <div class="row" style="word-break: break-word;">
        <b>{{ 'input.info'|trans([], 'form') }}:</b>
        <div class="max">{{ stand.info }}</div>
      </div>
      <div class="medium-divider"></div>
      <div class="row">
        <b>{{ 'input.city'|trans([], 'form') }}:</b>
        <div class="max">{{ city.getName() }}</div>
      </div>
      <div class="medium-divider"></div>
      <a class="button app-back">{{ 'action.back'|trans }}</a>

      <h4 class="my-mid">{{ 'Products' }}</h4>
      <a class="button" href="/stand/{{ stand.id }}/newproduct">
        <i>{{ 'add' }}</i>
        <span>{{ 'action.new'|trans }}</span>
      </a>
      {% if products %}
      <table class="border" style="margin-top: 10px;">
        <thead>
          <tr>
            <th>{{ 'input.image'|trans([], 'form') }}</th>
            <th>{{ 'input.name'|trans([], 'form') }}</th>
            <th>{{ 'input.price'|trans([], 'form') }}</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for p in products %}
          {% set avatar = p.image == null ? 'restaurant.svg' : p.image.getPathname() %}
          {% set rowClass = loop.index is even ? 'even' : 'odd' %}
          <tr class="{{ rowClass }}">
            <td><img class="circle large" src="/{{ avatar }}"></td>
            <td>{{ p.name }}</td>
            <td>${{ p.price }}</td>
            <td>
              <nav class="right-align">
                <a href="/stand/{{ stand.id }}/product/{{ p.id }}" class="button info circle medium"><i>{{ 'visibility' }}</i></a>
                <a href="/stand/{{ stand.id }}/product/{{ p.id }}/edit" class="button warning circle medium"><i>{{ 'edit' }}</i></a>
                <a href="/stand/{{ stand.id }}/product/{{ p.id }}/delete" class="button danger circle medium"><i>{{ 'delete' }}</i></a>
              </nav>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <article class="border medium no-padding middle-align center-align" style="margin-top: 10px;">
        <div class="padding">
          <h5>{{ 'table.empty'|trans }}<h5>
        </div>
      </article>
      {% endif %}
    </div>

    <!-- orders column -->

    <div class="s4">
      <h4 class="my-mid">{{ stand.getName() }} orders</h4>
      {% if orders %}
      <table class="border" style="margin-top: 10px;">
        <thead>
          <tr>
            <th>{{ 'input.buyer'|trans([], 'form') }}</th>
            <th>{{ 'input.date'|trans([], 'form') }}</th>
            <th>{{ 'input.state'|trans([], 'form') }}</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for o in orders %}
          {% set rowClass = loop.index is even ? 'even' : 'odd' %}
          <tr class="{{ rowClass }}">
            <td>
            {% for u in users %}
              {% if o.buyerId == u.id %}
                {{ u.getFullName() }}
              {% endif %}
            {% endfor %}
            </td>
            <td>{{ o.date }}</td>
            <td>{{ o.state }}</td>
            <td>
              <nav class="right-align">
                <a href="/stand/{{ stand.id }}/order/{{ o.id }}" class="button info circle medium"><i>{{ 'visibility' }}</i></a>
              </nav>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <article class="border medium no-padding middle-align center-align" style="margin-top: 10px;">
        <div class="padding">
          <h5>{{ 'table.empty'|trans }}<h5>
        </div>
      </article>
      {% endif %}
    </div>
  </div>
</main>
{% endblock %}
