{% extends 'base.html.twig'  %}
{% set avatar = user.getAvatarUri() is empty? 'user-default.svg' : user.getAvatarUri() %} 
{% block body %}
<main class="responsive">
  <div class="grid">
    <div class="s5">
      <img class="big circle center" src="/{{ avatar }}" />
    </div>
    <div class="s5">
      <h2 class="my-mid">{{ user.getFullName() }}</h2>
      <div class="row">
        <b>{{'input.name'|trans([], 'form')}}:</b>
        <div class="max">{{user.name}}</div>
      </div>
      <div class="medium-divider"></div>
      <div class="row">
        <b>{{'input.last_name'|trans([], 'form')}}:</b>
        <div class="max">{{user.lastName}}</div>
      </div>
      <div class="medium-divider"></div>
      <div class="row">
        <b>{{'input.email'|trans([], 'form')}}:</b>
        <div class="max">{{user.email}}</div>
        <i>email</i>
      </div>
      <div class="medium-divider"></div>
      <div class="row">
        <b>{{'input.phone'|trans([], 'form')}}:</b>
        <div class="max">{{user.phone}}</div>
        <i>phone</i>
      </div>
    </div>
  </div>
</main>
{% endblock %}
