{% extends 'base.html.twig' %}
{% block body %}
<main class="responsive">
  <h1>Usuarios</h1>
  <div class="my-mid">
    <a class="button" href="/user/new">
      <i>add</i>
      <span>Nuevo</span>
    </a>
  </div>
  {% if users %}
  <table class="border large-space">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Email</th>
        <th>Phone</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for u in users %}
      <tr class="flex">
        <td>{{ u.getFullName() }}</td>
        <td>{{ u.getEmail() }}</td>
        <td>{{ u.getPhone() }}</td>
        <td>
          <a href="/user/{{ u.getId() }}/edit" class="button transparent circle medium"><i>edit</i></a>
          <a href="/user/{{ u.getId() }}/delete" class="button transparent circle medium"><i>delete</i></a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <article class="border medium no-padding middle-align center-align">
    <div class="padding">
      <h5>No hay nada...</h5>
    </div>
  </article>
  <nav>
    {% if page > 1 %}
    <a href="?page={{ page - 1}}" class="button transparent circle"><i>chevron_left</i></a>
    {% else %}
    <a disabled class="button transparent circle"><i>chevron_left</i></a>
    {% endif %}
    {{ page }}
    <a href="?page={{ page + 1 }}" class="button transparent circle"><i>chevron_right</i></a>
  </nav>
  {% endif %}
</main>
{% endblock %}
