{% extends 'base.html.twig' %}
{% block body %}
<main class="responsive mb-small">
  <h1 class="center-align">{{ 'users'|trans }}</h1>
  <div class="my-mid">
    <a class="button" href="/user/new">
      <i>add</i>
      <span>{{ 'action.new'|trans }}</span>
    </a>
  </div>
  {% if users %}
  <table class="border large-space">
    <thead>
      <tr>
        <th>{{ 'input.name'|trans([], 'form') }}</th>
        <th>{{ 'input.email'|trans([], 'form') }}</th>
        <th>{{ 'input.phone'|trans([], 'form') }}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for u in users %}
      <tr class="flex">
        <td>{{ u.getFullName() }}</td>
        <td>{{ u.email }}</td>
        <td>{{ u.phone }}</td>
        <td>
          <a href="/user/{{ u.id }}" class="button transparent circle medium"><i>visibility</i></a>
          <a href="/user/{{ u.id }}/edit" class="button transparent circle medium"><i>edit</i></a>
          <a href="/user/{{ u.id }}/delete" class="button transparent circle medium"><i>delete</i></a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <article class="border medium no-padding middle-align center-align">
    <div class="padding">
      <h5>{{ 'table.empty'|trans }}<h5>
    </div>
  </article>
  {% endif %}
  <nav>
    {% if page > 1 %}
    <a href="?page={{ page - 1}}" class="button transparent circle"><i>chevron_left</i></a>
    {% else %}
    <a disabled class="button transparent circle"><i>chevron_left</i></a>
    {% endif %}
    {{ page }}
    <a href="?page={{ page + 1 }}" class="button transparent circle"><i>chevron_right</i></a>
  </nav>
</main>
{% endblock %}
